<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    
    <div class="container" style="height: 100vh;">
        <div class="row" style="height: 100%;">
            <div class="col-10 col-md-8 col-lg-6 mx-auto my-auto shadow p-4">
                <div class="d-flex justify-content-between">
                    <h3 class="d-inline">
                        Login to Todo List
                    </h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class=mb-2>
                            <input type="text" name="username" class="form-control" placeholder="Username">
                        </div>

                        <div class=mb-2>
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>

                        <div class=mb-2>
                            <input type="submit" class="col-12 btn btn-primary" value="Login">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>