{% extends 'main/base.html' %}
{% block title %} User Management {% endblock title %}
{% block content %}
    <div class="container" style="height: 100vh;">
        <div class="row" style="height: 100%;">
            <div class="col-10 col-md-8 col-lg-6 mx-auto my-auto shadow p-4">
                <div>
                    <h2 class="d-inline">
                        User List
                    </h2>

                    {% for message in messages %}
                        <div class="mb-3 alert {{message.tags}}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <a class="btn btn-secondary" href="{% url 'todo-home' %}">
                        <i class="bi bi-list-check"></i>
                    </a>

                    <a class="btn btn-danger" href="/accounts/logout">
                        <i class="bi bi-box-arrow-right"></i>
                    </a>
                </div>

                {% if user.is_superuser %}
                <a class="btn btn-primary" href="{% url 'add-user-form' %}">
                    Add New User
                </a>
                {% endif %}

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Username
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Manage
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>
                                    {{ user.username }}
                                </td>
                                <td>
                                    {{ user.email }}
                                </td>
                                <td>
                                    <a class="btn btn-warning" href="{% url 'edit-user-form' %}">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a class="btn btn-danger" href="">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}